
<div *ngIf="!movie" class="text-center">
    <!-- <h3>Please wait while loading...</h3> -->
    <img src="/assets/images/loading.gif" alt="Loading" class="">
</div>

<div class="row" *ngIf="movie">
    <div class="col-md-4">
        <img [src]="movie.Poster" alt="" class="img img-thumbnail">
    </div>
    <div class="col-md-8">
        <h3>{{ movie.Title}}</h3>

        <table class="table">
            <tbody>
                <tr>
                    <td>Director</td>
                    <td>{{ movie.Director }}</td>
                </tr>
                <tr>
                    <td>Plot</td>
                    <td>{{ movie.Plot }}</td>
                </tr>
                <tr>
                  <td>Rated</td>
                  <td>{{ movie.Rated }}</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>{{ movie.Year }}</td>
                </tr>
                <tr>
                    <td>Genre</td>
                    <td>{{ movie.Genre }}</td>
                </tr>
                <tr>
                    <td>Actors</td>
                    <td>{{ movie.Actors }}</td>
                </tr>
                <tr>
                    <td>Box Office</td>
                    <td>{{ movie.BoxOffice }}</td>
                </tr>
                <tr>
                    <td>Released</td>
                    <td>{{ movie.Released }}</td>
                </tr>
                <tr>
                  <td>Writer</td>
                  <td>{{ movie.Writer }}</td>
                </tr>
                <tr>
                  <td>Production</td>
                  <td>{{ movie.Production }}</td>
                </tr>
                <tr>
                  <td>Language</td>
                  <td>{{ movie.Language }}</td>
                </tr>
                <tr>
                  <td>Country</td>
                  <td>{{ movie.Country }}</td>
                </tr>
                <tr>
                  <td>Awards</td>
                  <td>{{ movie.Awards }}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
</div>


<!-- {{ movie | json}} -->